.hero-container{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: lightgreen;
    padding: 25px;
    font-size: 1.25em;
    border-radius: 50PX;

}
.hero-container button{
    background-color: aqua;
    padding: 10px 10px;
    font-size: 1.25em;
    cursor: pointer;
    border-radius: 25px;
}
.hero-container img{
    width: 100%;
    height: 400px;

}
body{
    max-width: 1270px;
    background-color: bisque;
    margin: auto;
}